head
    title choice form 巧思问卷
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    meta(name="keywords" content="choice form 巧思问卷,巧思在线,巧思问卷SaaS应用,巧思问卷设计,巧思思维导图,在线问卷,在线调研,市场研究,市场营销,在线表单,在线客服,电子说明书,员工培训,交叉配额,非交叉配额,微信调研,微信问卷.")
    meta(name="description" content="choice form 巧思问卷,新一代在线调研服务提供商,创新的在线调研模式，面向市场研究、调研垂直领域的SaaS应用服务，为市场研究、咨询调研、广告营销及品牌公司，提供数据收集、分析、解读的能力。")
    meta(name="viewport" content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no")
    meta(name="apple-mobile-web-app-status-bar-style" content="black")
    meta(name="apple-mobile-web-app-capable" content="yes")
    meta(name='apple-touch-fullscreen', content='no')
body